.main {
    justify-content: space-between;
    background-color: #FFFFFF;
}

.heroSection {
    width: 100%;
    min-height: 528px;
    padding: 6rem;
    background-color: #FFFFFF;
}

.heading {
    width: 900px;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
}

.clients {
    text-align: center;
    margin: 2rem 0;
    height: 123.13px;
    background-color: #FFFFFF;
}

.clientHeading {
    text-align: center;
}

.banner {
    padding-bottom: 3rem;
    position: relative;
}

.industries {
    background-color: #262833;
    padding: 4rem 0 4rem 4rem;
    width: 100%;
}

.subTitle {
    color: #FFA300;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.descriptionText {
    font-weight: 400!important;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-family: 'poppins';
    margin: 0 10rem;
    line-height: 24px;
    color: #535353;
}

.industryHeading {
    font-family: 'Be Vietnam Pro';
    color: #F0F0F0;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
}

.productAndServices {
    background: #262833;
    padding-bottom: 2rem;
    padding-right: 5rem;
}

.mainHeading {
    font-weight: 700;
    font-size: 40px;
    color: #f0f0f0;
    text-align: right;
    margin-top: 4rem;
}

.clientSection {
    margin-top: 3rem;
    padding-top: 3rem;
}

.headingNormal {
    font-size: 40px;
    font-weight: 700;
}

.highlightedText {
    color: #FFA300;
    font-size: 40px;
    font-weight: 700;
}

.DemoSection {
    background-image: url(../../public/demobanner.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.demoButton {
    text-align: center;
    margin-top: 3rem;
}

@media (max-width:992px) {
    .heroSection {
        width: 100%;
        padding: 4rem;
    }
    .heading {
        width: auto;
    }
    .clients {
        margin: 2rem 0;
        height: auto;
    }
    .industries {
        padding: 4rem;
    }
    .descriptionText {
        margin: 0 6rem;
    }
}

@media (max-width:768px) {
    .heroSection {
        width: 100%;
        padding: 3rem;
    }
    .heading {
        width: auto;
    }
    .clients {
        margin: 2rem 0;
        height: auto;
    }
    .industries {
        padding: 3rem;
    }
    .descriptionText {
        margin: 0 4rem;
    }
}

@media (max-width:576px) {
    .heroSection {
        width: 100%;
        padding: 2rem;
    }
    .heading {
        width: auto;
    }
    .clients {
        margin: 2rem 0;
        height: auto;
    }
    .industries {
        padding: 2rem;
    }
    .descriptionText {
        margin: 0 2rem;
    }
}